<body>
    <div class="container-fluid">
        <div class="generalDiv">
            <h4>Analytics Module</h4>
            <p>Select the type of analytics you want to view</p>
            
            <div class="row">
                <div class="col-sm-6">
                    <div id="firstDiv" >
                        <h5>Formative Assessment Analytics</h5>
                        <h6>See how learners in formative assessments</h6>
                        <button class="btn btn-light"><i class="fa fa-trash"></i>View Analytics</button>
                      </div>
                </div>
                <div class="col-sm-6">
                    <div id="thirdDiv">
                        <h5>Formative Assessment Analytics</h5>
                        <h6>See how learners in formative assessments</h6>
                        <button class="btn"><i class="fa fa-trash"></i>View Analytics</button>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-sm-6">
                    <div id="secondDiv">
                        <h5>Formative Assessment Analytics</h5>
                        <h6>See how learners in formative assessments</h6>
                        <button class="btn"><i class="fa fa-trash"></i>View Analytics</button>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
    
</body>
